body{
    font-family: 'Montserrat', sans-serif;
    /*font-family: 'Roboto Condensed', sans-serif;*/
    /*font-family: 'Source Sans Pro', sans-serif;*/
    background-color:#E0E0E0;
    background:url('../images/city3.jpg');
    font-size: 1rem;
    
}



h1{
    /* animation:blinkingText 0.8s;
    animation-iteration-count: 5; */
    margin-left:10%;
    
}


h2{
    margin-left: 42%;

}
h4{
    margin-left: 42%;

}




#form{
    margin-top: 5%;
    margin-left:5%;
    margin-right:0%;
    border: 0.02rem;
    float:left;
    color:black;
    font-size: 1.5rem;
    font-weight: bold;
    
    

}

input {
    width: 100%;
    padding: 5px 15px;
    margin: 4px 0;
    box-sizing: border-box;
    font-size: 1rem;
  }


.reset{

}

.out{


}

table{
    
    margin-top: 5%;
    margin-left:5%;
    margin-right:0%;
    border: 0.02rem;
    float:left;
    color:black;
    font-size: 1.5rem;
    font-weight: bold;
    
    
    

}