body{
    
    font-family: 'Lato', sans-serif; 
    margin: 2%;
    background:url('../images/city2.jpg') repeat;
    color:#123638;
    /* #5C5A61; */
}

#h1{
    margin-left: 35%;
}

#form{
    margin-top: 0%;
    margin-left:40%;

}

button{
    
    color:#7D6B7D;
  
}

#list{
    position: ;
  width: 25%;
  height: 10%;
 background: var(--container-bg-color);
  border: 2px solid var(--left-bg-color);
  padding: 2%;
  margin-top: 10px;
  margin-left: 2px;
  background: rgba(103,105,107,0.9);
  color:black;
    
}


@media(max-width: 750px){
    body{
        background:url('images/world68.jpg');
   }
}



h1{
    font-size: 40px;
}

#image{
    margin-right: 80%;
}

